<tr class="ldoa-creature-action-entry">
    <td>
        <i class="ldoa-clickable ldoa-info-icon ldoa-is-info fas fa-info-circle" data-content="{{system.description}}"></i>
        {{name}}
    </td>
    <td>
        <center>{{testAttribute}}</center>
    </td>
    <td>
        <center>{{system.damage}}</center>
    </td>
    <td>
        <i class="ldoa-clickable ldoa-delete-action ldoa-is-danger fas fa-times-circle" data-id="{{_id}}"></i>
    </td>
</tr>
