<div class="ldoa-boon-entry-name">
	<span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="ldoa-boon-power-name">
    <span class="ldoa-capitalized-text">{{system.power}}</span>
</div>
<div class="ldoa-boon-entry-actions">
	<i class="fas fa-info-circle ldoa-info-icon" data-content="{{system.description}}"></i>
    <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{_id}}" data-type="{{type}}" title="{{localize "ldoa.fields.titles.deleteBoon"}}"></i>
</div>
