<div class="ldoa-tab-body ldoa-background-tab {{tabBodySelectionClass "background"}}">
    <h2>{{localize "ldoa.headers.base_attributes"}}</h2>
    <p class="ldoa-blurb">{{localize "ldoa.blurbs.base_attributes"}}</p>
    {{> "systems/lastdays/templates/partials/cs-base-attributes-list.hbs"}}

	<h2>{{localize "ldoa.headers.background"}}</h2>

    <div class="ldoa-field">
    	<label for="system.birth" class="ldoa-label">{{localize "ldoa.fields.labels.birth"}}</label>
        <input class="ldoa-input" name="system.birth" type="text" value="{{actor.system.birth}}"/>
    </div>

    {{> "systems/lastdays/templates/partials/cs-backgrounds-classic.hbs"}}

    <br>
    <h2>{{localize "ldoa.headers.random"}}</h2>
    <p class="ldoa-blurb">{{localize "ldoa.blurbs.random_generation"}}</p>
    <button type="button" class="ldoa-random-character-generator-button" data-id="{{actor.id}}">{{localize "ldoa.buttons.random_generation"}}</button>
</div>
