<div class="ldoa-field">
	<label for="system.origin" class="ldoa-label">{{localize "ldoa.fields.labels.origin"}}</label>
	{{{originSelect "system.origin" actor.system.origin}}}
</div>


<div class="ldoa-field">
	<label for="system.backgrounds.first" class="ldoa-label">{{localize "ldoa.fields.labels.firstBackground"}}</label>
	{{{originBackgroundSelect actor.system.origin "first" actor.system.backgrounds.first}}}
</div>


<div class="ldoa-field">
	<label for="system.backgrounds.second" class="ldoa-label">{{localize "ldoa.fields.labels.secondBackground"}}</label>
	{{{originBackgroundSelect actor.system.origin "second" actor.system.backgrounds.second}}}
</div>


<div class="ldoa-field">
	<label for="system.backgrounds.third" class="ldoa-label">{{localize "ldoa.fields.labels.thirdBackground"}}</label>
	{{{nonOriginBackgroundSelect actor.system.origin "third" actor.system.backgrounds.third}}}
</div>
