<div class="ldoa-demon-entry-name ldoa-text-truncated">
	<span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="ldoa-demon-entry-actions">
	<i class="fas fa-book-dead ldoa-summon-demon-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.summonDemon"}}" data-demon="{{_id}}"></i>
	<i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.deleteDemon"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
