<div class="ldoa-tab-body ldoa-equipment-tab {{tabBodySelectionClass "equipment"}}">
	<section>
	    <h2>{{localize "ldoa.headers.wealth"}}</h2>
	    <div>
	    	<span class="ldoa-column-header">{{localize "ldoa.headers.coins"}}</span>
	    </div>
		<div class="ldoa-coins-container">
			<input type="text" name="system.coins.first" value="{{actor.system.coins.first}}" class="ldoa-input" />
			<input type="text" name="system.coins.second" value="{{actor.system.coins.second}}" class="ldoa-input" />
			<input type="text" name="system.coins.third" value="{{actor.system.coins.third}}" class="ldoa-input" />
			<input type="text" name="system.coins.fourth" value="{{actor.system.coins.fourth}}" class="ldoa-input" />
			<input type="text" name="system.coins.fifth" value="{{actor.system.coins.fifth}}" class="ldoa-input" />
		</div>
    </section>
    <br>

    <div class="collapsible-widget" data-expanded="true">
        <h2>
            <div class="ldoa-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
            {{localize "ldoa.headers.consumables"}}
        </h2>
        <div class="collapsible-widget-target">
            <div class="ldoa-consumable-entries">
            	<div class="ldoa-text-truncated">
            	    <span class="ldoa-column-header">{{localize "ldoa.headers.itemName"}}</span>
            	</div>
            	<div class="ldoa-text-truncated">
            	    <center>
            	    	<span class="ldoa-column-header">{{localize "ldoa.headers.itemQuantity"}}</span>
            	    </center>
            	</div>
            	<div class="ldoa-text-truncated">
            	    <center>
            	    	<span class="ldoa-column-header">{{localize "ldoa.headers.itemUsageDie"}}</span>
            	    </center>
            	</div>
            	<div></div>
        	{{#each consumables as |consumable id|}}
        	    {{> "systems/lastdays/templates/partials/cs-consumable-entry.hbs" consumable}}
        	{{/each}}
            </div>
        </div>
    </div>

    <div class="collapsible-widget" data-expanded="true">
        <h2>
            <div class="ldoa-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
            {{localize "ldoa.headers.equipment"}}
        </h2>
        <div class="collapsible-widget-target">
            <div class="ldoa-equipment-entries">
        	{{#each equipment as |item id|}}
        	    {{> "systems/lastdays/templates/partials/cs-equipment-entry.hbs" item}}
        	{{/each}}
            </div>
        </div>
    </div>
</div>
