<div class="ldoa-equipment-entry-name">
	<span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="ldoa-equipment-entry-actions">
    <i class="fas fa-info-circle ldoa-info-icon" data-content="{{system.description}}"></i>
	<i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.deleteEquipment"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
