<div class="ldoa-tab-body ldoa-magic-tab {{tabBodySelectionClass "magic"}}">
	<br>

{{#if hasDemons}}
    <div class="collapsible-widget" data-expanded="true">
		<h2>
            <div class="ldoa-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
		    {{localize "ldoa.headers.demons"}}
		    <div class="ldoa-float-right">
		    	<span class="ldoa-summoning-state">{{summoningState actor.system.summoning.demon}}</span>
		    	<i class="fas fa-undo-alt ldoa-reset-dark-pact-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.resetAllDemons"}}" data-actor="{{actor.id}}" data-type="demon"></i>
		    </div>
		</h2>
		<div class="collapsible-widget-target">
			<div class="ldoa-demon-entries">
				<div>
					<span class="ldoa-column-header">{{localize "ldoa.headers.demonName"}}</span>
				</div>
				<div></div>

			{{#each demons as |demon id|}}
			    {{> "systems/lastdays/templates/partials/cs-demon-entry.hbs" demon}}
			{{/each}}
			</div>
		</div>
	</div>
	<br>
{{/if}}

{{#if hasSpirits}}
    <div class="collapsible-widget" data-expanded="true">
		<h2>
            <div class="ldoa-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
		    {{localize "ldoa.headers.spirits"}}
		    <div class="ldoa-float-right">
		    	<span class="ldoa-summoning-state">{{summoningState actor.system.summoning.spirit}}</span>
		    	<i class="fas fa-undo-alt ldoa-reset-dark-pact-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.resetAllSpirits"}}" data-actor="{{actor.id}}" data-type="spirit"></i>
		    </div>
		</h2>
		<div class="collapsible-widget-target">
			<div class="ldoa-spirit-entries">
				<div>
					<span class="ldoa-column-header">{{localize "ldoa.headers.spiritName"}}</span>
				</div>
				<div></div>

			{{#each spirits as |spirit id|}}
			    {{> "systems/lastdays/templates/partials/cs-spirit-entry.hbs" spirit}}
			{{/each}}
			</div>
		</div>
	</div>
	<br>
{{/if}}

{{#if hasSpells}}
    <div class="collapsible-widget" data-expanded="true">
		<h2>
            <div class="ldoa-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
		    {{localize "ldoa.headers.spells"}}
		    <div class="ldoa-float-right">
		    	<i class="fas fa-undo-alt ldoa-reset-all-spells-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.resetAllSpells"}}" data-actor="{{actor.id}}"></i>
		    </div>
		</h2>
		<div class="collapsible-widget-target">
			<div class="ldoa-spell-entries">
				<div>
					<span class="ldoa-column-header">{{localize "ldoa.headers.spellName"}}</span>
				</div>
				<div>
					<span class="ldoa-column-header">{{localize "ldoa.headers.spellState"}}</span>
				</div>
				<div></div>

			{{#each spells as |spell id|}}
			    {{> "systems/lastdays/templates/partials/cs-spell-entry.hbs" spell}}
			{{/each}}
		    </div>
		</div>
	</div>
{{/if}}
</div>
