<div class="ldoa-spirit-entry-name ldoa-text-truncated">
	<span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="ldoa-spirit-entry-actions">
	<i class="fas fa-ghost ldoa-summon-spirit-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.summonSpirit"}}" data-spirit="{{_id}}"></i>
	<i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.deleteSpirit"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
