<div class="ldoa-weapon-entry-name">
	<span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="ldoa-weapon-entry-type">
	{{weaponType system.type}}
</div>
<div class="ldoa-weapon-entry-actions">
	<i class="fas fa-dice-d20 ldoa-attack-roll-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.rollAttack"}}" data-item="{{_id}}" data-type="{{type}}"></i>
	<i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" title="{{localize "ldoa.fields.titles.deleteWeapon"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
