<div class="garysv1-equipment-content">
    <div class="garysv1-section-header">
        <h3>{{localize "ldoa.headers.equipment"}}</h3>
    </div>

    <!-- Wealth Section -->
    <div class="garysv1-wealth-section">
        <h4>{{localize "ldoa.headers.wealth"}}</h4>
        <div class="garysv1-coins-container">
            <input type="text" name="system.coins.first" value="{{actor.system.coins.first}}" class="garysv1-input garysv1-coin-input" placeholder="1st" />
            <input type="text" name="system.coins.second" value="{{actor.system.coins.second}}" class="garysv1-input garysv1-coin-input" placeholder="2nd" />
            <input type="text" name="system.coins.third" value="{{actor.system.coins.third}}" class="garysv1-input garysv1-coin-input" placeholder="3rd" />
            <input type="text" name="system.coins.fourth" value="{{actor.system.coins.fourth}}" class="garysv1-input garysv1-coin-input" placeholder="4th" />
            <input type="text" name="system.coins.fifth" value="{{actor.system.coins.fifth}}" class="garysv1-input garysv1-coin-input" placeholder="5th" />
        </div>
    </div>

    <!-- Weapons Section -->
    <div class="garysv1-weapons-section">
        <h4>{{localize "ldoa.headers.weapons"}}</h4>
        <div class="garysv1-items-list">
            {{#each weapons as |weapon id|}}
            <div class="garysv1-item-row">
                <span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
                <span class="garysv1-item-damage">{{system.damage}}</span>
                <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{_id}}" data-type="{{type}}" title="{{localize 'ldoa.fields.titles.deleteWeapon'}}"></i>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Equipment Section -->
    <div class="garysv1-equipment-section">
        <h4>{{localize "ldoa.headers.equipment"}}</h4>
        <div class="garysv1-items-list">
            {{#each equipment as |item id|}}
            <div class="garysv1-item-row">
                <span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
                <span class="garysv1-item-quantity">{{system.quantity}}</span>
                <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{_id}}" data-type="{{type}}" title="{{localize 'ldoa.fields.titles.deleteEquipment'}}"></i>
            </div>
            {{/each}}
        </div>
    </div>
    
    <!-- Consumables Section -->
    <div class="garysv1-consumables-section">
        <h4>{{localize "ldoa.headers.consumables"}}</h4>
        <div class="garysv1-items-list">
            {{#each consumables as |item id|}}
            <div class="garysv1-item-row">
                <span class="ldoa-item-name" data-item="{{_id}}">{{name}}</span>
                <span class="garysv1-item-quantity">{{system.quantity}}</span>
                <i class="far fa-trash-alt ldoa-delete-item-icon ldoa-action-icon" data-item="{{_id}}" data-type="{{type}}" title="{{localize 'ldoa.fields.titles.deleteConsumable'}}"></i>
            </div>
            {{/each}}
        </div>
    </div>
</div>