<div class="ldoa-damage-button-container">
    <button class="ldoa-damage-button" data-actor="{{actorId}}" data-stressed="{{stressed}}" data-critical="{{critical}}" data-formula="{{formula}}" data-id="{{weaponId}}" data-name="{{weapon}}">
        {{localize "ldoa.messages.labels.buttons.rollDamage"}}
    </button>
</div>
